body {
  font-family: verdana;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
  font-size: 20px;
}

h2 {
  color: #666;
  font-size: 16px;
}

li {
  color: #000;
  font-size: 12px;
}

img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

